.top-title{
    padding: 10px 0 10px 80px;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.trip{
    border: 1px solid #eee;
    margin:10px;
    padding:5px;
}
.nation{
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin: 0 auto;
}
.event{
    font-size: 13px;
    font-weight: 700;
    color: olive;
}
.mid{
    background-repeat: no-repeat;
    background-image: url(mid.png);
    background-size: cover;
    padding: 30px 350px 10px 15px;
    margin: 10px;
}
.last-title{
    margin: 5px 0;
}
.mid-title{
    color: saddlebrown;
    margin: 5px 0 5px 0;
}
.inf{
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    color: saddlebrown;
    font-weight: 600;
}
.inner{
    border: 1px solid #eee;
    margin:5px;
}
.area{
    background-color: deepskyblue;
}
.sub{
    font-size: 12px;
    color: #999;
    margin: 0 auto;
}
.tags{
    font-size: 18px;
    color: #777;
    display: block;
    margin: 5px 0 0 0;
}
.price{
    font-size: 13px;
    color: deepskyblue;
    margin-top: 25px;
}
.time{
    font-size: 14px;
    color: #888;
}
.list{
    padding:10px;
}